<div class="container">
  <div class="alert alert-secondary" role="alert">
    <h3>Welcome to Shreddit, the censorship-free Reddit</h3>
    <hr>
    <p>Feel free to sign up.</p>
  </div>
  <p>"View this project on GitHub" link</p>
  <p>"Technology Stack" link</p>
  <p>Show top posts here. Post title, post content, user, and the sub it is located in</p>

  <p>All Posts</p>
  <hr>
  <% @posts.each do |post| %>
    <p>Post Title: <%= post.title %></p>
    <p>Post Content: <%= post.content %></p>
  <% end %>
</div>