<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Backend</h1>
    <hr>
    <div class="row">
      <div class="col">
        <p class="lead">Ruby on Rails</p>
      </div>
      <div class="col">
        <p class="lead">SQLite</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Frontend</h1>
    <hr>
    <div class="row">
      <div class="col">
        <p class="lead">Bootstrap</p>
      </div>
      <div class="col">
        <p class="lead">???</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Operations</h1>
    <hr>
    <div class="row">
      <div class="col">
        <p class="lead">Amazon Web Services</p>
      </div>
      <div class="col">
        <p class="lead">NGINX</p>
      </div>
      <div class="col">
        <p class="lead">Terraform coming soon...</p>
      </div>
      <div class="col">
        <p class="lead">Docker</p>
      </div>
    </div>
  </div>
</div>
