<div class="container">

  <h1 class="mt-4">Browse Subs</h1>
  <% if user_signed_in? %>
    <%= link_to 'Create Sub', new_sub_path, :class => 'btn btn-primary' %>
  <% else %>
    <button type="button" class="btn btn-primary" disabled>Log in to create a sub</button>
  <% end %>

  <% unless @subs.empty? %>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @subs.each do |sub| %>
          <p></p>
          <tr>
            <td><h4><%= link_to "#{sub.name}", sub_path(sub) %></h4></td>
            <td><%= sub.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br>
    <p>No subs exist, be the first to creat a sub!</p>
  <% end %>
</div>